.App {
  text-align: center;
  background: #282c34;
  padding-bottom: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppContainer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: -4px -4px 10px 0 #3f4146e8, 
              4px 4px 10px 0 #161925e8;
  padding-bottom: 2rem;
  border-radius: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  box-shadow: -4px -4px 10px 0 #364056e8, 4px 4px 10px 0 #0e0f13e8;
  background: #292c35!important;
}
.spinner{
  justify-content: center;
  align-items: center;
}